<section class="widthCenter">
    <h1>Add a Trail</h1>
    <p ng-hide="atc.user.loggedIn">Please Register or Login to add a new trail.</p>
    <md-content ng-if="atc.user.loggedIn" layout-padding>
        <md-card>
            <form name="trailForm">
                <!-- name inputs are side by side across the container -->
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Park Name</label>
                        <input ng-model="atc.trail.park_name">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Trail Name</label>
                        <input name="trail_name" ng-model="atc.trail.trail_name" required>
                        <div ng-messages="trailForm.trail_name.$error" role="alert">
                            <div ng-message="required" class="my-message">You must enter a Trail Name!</div>
                        </div>
                    </md-input-container>
                </div>
                <!-- adress inputs span the entire container -->
                <md-input-container class="md-block">
                    <label>Address</label>
                    <input ng-model="atc.trail.address1">
                </md-input-container>
                <md-input-container md-no-float class="md-block">
                    <input ng-model="atc.trail.address2" placeholder="Address 2">
                </md-input-container>
                <!-- City State Zip span the container in a row -->
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>City</label>
                        <input name="city" required ng-model="atc.trail.city">
                        <div ng-messages="trailForm.city.$error" role="alert">
                            <div ng-message="required" class="my-message">You must input a city name!</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>State</label>
                        <md-select ng-model="atc.trail.state" name="state" required>
                            <md-option ng-repeat="state in atc.states" value="{{state.abbrev}}">
                                {{state.abbrev}}
                            </md-option>
                        </md-select>
                        <div ng-messages="trailForm.state.$error" role="alert">
                            <div ng-message="required" class="my-message">You must choose a State!</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Postal Code</label>
                        <input name="zip" ng-model="atc.trail.zip" placeholder="12345" ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                        <div ng-messages="trailForm.zip.$error" role="alert">
                            <div ng-message="pattern" class="my-message">That doesn't look like a valid postal code.</div>
                        </div>
                    </md-input-container>
                </div>
                <!-- length and image upload span entire container in a row -->
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Length</label>
                        <md-select ng-model="atc.trail.length">
                            <md-option ng-repeat="length in atc.lengths" value="{{length.dist}}">
                                {{length.dist}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-button class="md-raised md-primary" ng-click="atc.addPhoto()">Upload a Photo</md-button>
                    </md-input-container>
                </div>
                <!-- toggle switches span entire container -->
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <h3>Info</h3>
                        <md-switch ng-model="atc.trail.dog">Dogs Allowed</md-switch>
                        <md-switch ng-model="atc.trail.child">Child Accessible</md-switch>
                        <md-switch ng-model="atc.trail.paved">Paved Trails</md-switch>
                        <md-switch ng-model="atc.trail.water">Lakes, Ponds, Rivers, or Creeks</md-switch>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <h3>Parking</h3>
                        <md-switch ng-model="atc.trail.parking">Parking Available</md-switch>
                        <md-switch ng-model="atc.trail.parking_free">Free Parking</md-switch>
                        <md-switch ng-model="atc.trail.park_pass">Park Pass Required</md-switch>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <h3>Trail Types</h3>
                        <md-switch ng-model="atc.trail.hiking">Hiking</md-switch>
                        <md-switch ng-model="atc.trail.skiing">Skiing </md-switch>
                        <md-switch ng-model="atc.trail.biking">Biking</md-switch>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <h3>Mounts and Vehicles</h3>
                        <md-switch ng-model="atc.trail.horse">Horseback Riding</md-switch>
                        <md-switch ng-model="atc.trail.atv">ATV</md-switch>
                        <md-switch ng-model="atc.trail.snowmobile">Snowmobile</md-switch>
                    </md-input-container>
                </div>
                <!-- description spans entire container -->
                <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea name="trail_description" ng-model="atc.trail.trail_description" md-maxlength="1000" rows="5" md-select-on-focus></textarea>
                    <div ng-messages="trailForm.trail_description.$error" role="alert">
                        <div ng-message="md-maxlength" class="my-message">Descriptions should be brief!</div>
                    </div>
                </md-input-container>
                <div>
                    <md-button class="md-raised md-warn" type="submit" ng-click="atc.addTrail()">Add Trail!</md-button>
                </div>
            </form>
        </md-card>
    </md-content>

    <!-- <h3>I want to use this to get LL from location if users want to add the trail mobile and use location</h3>
    <ng-map default-style="true" center="current-location" zoom="14">
        <info-window id="foo" position="current-location">
            <div ng-non-bindable="">
    
            </div>
        </info-window>
    </ng-map> -->
</section>