<section class="widthCenter">
   <div class="md-padding">
        <md-content layout="column">
            <!-- Search Filter -->
            <div layout="row">
                <md-menu flex="10">
                    <md-button aria-label="filter" class="md-icon-button" ng-click="$mdMenu.open($event)">
                        <md-icon md-menu-origin md-svg-icon="images/svg/sliders.svg"></md-icon>
                        <md-tooltip md-direction="down">Filter Trails</md-tooltip>
                    </md-button>
                    <md-menu-content layout="column">
                        <div layout="row" flex="85">
                            <md-menu-item layout="column">
                                <h3>Info</h3>
                                <md-switch ng-model="hc.search.dog">Dogs Allowed</md-switch>
                                <md-switch ng-model="hc.search.child">ChildAccessible</md-switch>
                                <md-switch ng-model="hc.search.paved">Paved Trails</md-switch>
                                <md-switch ng-model="hc.search.water">Bodies of Water</md-switch>
                            </md-menu-item>
                            <md-menu-item layout="column">
                                <h3>Parking</h3>
                                <md-switch ng-model="hc.search.parking">Parking Available</md-switch>
                                <md-switch ng-model="hc.search.parking_free">Free Parking</md-switch>
                                <md-switch ng-model="hc.search.park_pass">Park Pass Required</md-switch>
                            </md-menu-item>
                            <md-menu-item layout="column">
                                <h3>Trail Types</h3>
                                <md-switch ng-model="hc.search.hiking">Hiking</md-switch>
                                <md-switch ng-model="hc.search.skiing">Skiing </md-switch>
                                <md-switch ng-model="hc.search.biking">Biking</md-switch>
                            </md-menu-item>
                            <md-menu-item layout="column">
                                <h3>Mounts and Vehicles</h3>
                                <md-switch ng-model="hc.search.horse">Horseback Riding</md-switch>
                                <md-switch ng-model="hc.search.atv">ATV</md-switch>
                                <md-switch ng-model="hc.search.snowmobile">Snowmobile</md-switch>
                            </md-menu-item>
                        </div>
                        <div flex="5">
                            <md-menu-item>
                                <md-input-container class="md-block">
                                    <md-checkbox name="lengthOne" ng-model="hc.search.lengthOne">0-3 miles</md-checkbox>
                                    <md-checkbox name="lengthFive" ng-model="hc.search.lengthFive">3-5 miles</md-checkbox>
                                    <md-checkbox name="lengthSeven" ng-model="hc.search.lengthSeven">5-7 miles</md-checkbox>
                                    <md-checkbox name="lengthTen" ng-model="hc.search.lengthTen">7-10 miles</md-checkbox>
                                    <md-checkbox name="lengthFifteen" ng-model="hc.search.lengthFifteen">10-15 miles</md-checkbox>
                                    <md-checkbox name="lengthLong" ng-model="hc.search.lengthLong">&#62;15 miles</md-checkbox>
                                </md-input-container>
                            </md-menu-item>
                        </div>
                    </md-menu-content>
                </md-menu>
                <md-input-container flex="80" class="md-block" flex-gt-xs>
                    <label>search by names and keywords</label>
                    <input name="search" ng-model="hc.search.search">
                </md-input-container>
            </div>
            <md-card ng-repeat="trail in hc.trails.approved" layout="row" ng-value="trail.trails_id">
                <div flex="30" layout="column">
                    <md-card-title >
                        <md-card-title-text layout="column" layout-align="start start">
                            <div ng-click="hc.viewTrailDetails(trail)" layout="column" layout-align="start start">
                                <span class="md-headline">{{trail.trail_name}}</span>
                                <span class="md-subhead">{{trail.park_name}}</span>
                                <span class="md-subhead">{{trail.city}}, {{trail.state}}</span>
                                <span class="md-subhead">{{trail.length}}</span>
                                <span ng-if="trail.ratingAverage" class="md-subhead">Average Rating: {{trail.ratingAverage}}</span>
                            </div>
                            <!-- button to add trail to current users my_trail page -->
                            <!-- ng-if="hc.user.userName" -->
                            <md-button style="background-color: rgb(253, 109, 5);" ng-click="hc.myTrailPost(trail.trails_id)" class="md-fab md-mini" aria-label="My-Trails">
                                <md-tooltip md-direction="left">Add Trail to My Trails</md-tooltip>
                                <md-icon md-svg-icon="images/svg/compass.svg"></md-icon>
                            </md-button>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row">
                        <!-- FAB for trail rating -->
                        <div layout="row" layout-align="center center">
                            <md-button ng-click="hc.rateTrailPost(trail.trails_id, 1)" aria-label="One" class="md-fab md-raised md-mini ratingStar" ng-mouseenter="trail.toggleOne=true"
                                ng-mouseleave="trail.toggleOne=false">
                                <md-tooltip md-direction="down">not that great</md-tooltip>
                                <md-icon class="ratingIcon" ng-hide="trail.toggleOne" md-svg-src="images/svg/star-empty.svg" aria-label="One"></md-icon>
                                <md-icon class="ratingIcon" ng-show="trail.toggleOne" md-svg-src="images/svg/star.svg" aria-label="One"></md-icon>
                            </md-button>
                            <md-button ng-click="hc.rateTrailPost(trail.trails_id, 2)" aria-label="Two" class="md-fab md-raised md-mini ratingStar" ng-value="2"
                                ng-mouseenter="trail.toggleTwo=true; trail.toggleOne=true" ng-mouseleave="trail.toggleTwo=false; trail.toggleOne=false">
                                <md-tooltip md-direction="down">could be better</md-tooltip>
                                <md-icon class="ratingIcon" ng-hide="trail.toggleTwo" md-svg-src="images/svg/star-empty.svg" aria-label="Two"></md-icon>
                                <md-icon class="ratingIcon" ng-show="trail.toggleTwo" md-svg-src="images/svg/star.svg" aria-label="Two"></md-icon>
                            </md-button>
                            <md-button ng-click="hc.rateTrailPost(trail.trails_id, 3)" aria-label="Three" class="md-fab md-raised md-mini ratingStar"
                                ng-value="3" ng-mouseenter="trail.toggleThree=true; trail.toggleTwo=true; trail.toggleOne=true" ng-mouseleave="trail.toggleThree=false; trail.toggleTwo=false; trail.toggleOne=false">
                                <md-tooltip md-direction="down">average</md-tooltip>
                                <md-icon class="ratingIcon" ng-hide="trail.toggleThree" md-svg-src="images/svg/star-empty.svg" aria-label="Three"></md-icon>
                                <md-icon class="ratingIcon" ng-show="trail.toggleThree" md-svg-src="images/svg/star.svg" aria-label="Three"></md-icon>
                            </md-button>
                            <md-button ng-click="hc.rateTrailPost(trail.trails_id, 4)" aria-label="Four" class="md-fab md-raised md-mini ratingStar"
                                ng-value="4" ng-mouseenter="trail.toggleFour=true; trail.toggleThree=true; trail.toggleTwo=true; trail.toggleOne=true" ng-mouseleave="trail.toggleFour=false; trail.toggleThree=false; trail.toggleTwo=false; trail.toggleOne=false">
                                <md-tooltip md-direction="down">great</md-tooltip>
                                <md-icon class="ratingIcon" ng-hide="trail.toggleFour" md-svg-src="images/svg/star-empty.svg" aria-label="Four"></md-icon>
                                <md-icon class="ratingIcon" ng-show="trail.toggleFour" md-svg-src="images/svg/star.svg" aria-label="Four"></md-icon>
                            </md-button>
                            <md-button ng-click="hc.rateTrailPost(trail.trails_id, 5)" aria-label="Five" class="md-fab md-raised md-mini ratingStar"
                                ng-value="5" ng-mouseenter="trail.toggleFive=true; trail.toggleFour=true; trail.toggleThree=true; trail.toggleTwo=true; trail.toggleOne=true"
                                ng-mouseleave="trail.toggleFive=false; trail.toggleFour=false;
                                                                            trail.toggleThree=false; trail.toggleTwo=false; trail.toggleOne=false">
                                <md-tooltip md-direction="down">Everyone should Go Here!</md-tooltip>
                                <md-icon class="ratingIcon" ng-hide="trail.toggleFive" md-svg-src="images/svg/star-empty.svg" aria-label="Five"></md-icon>
                                <md-icon class="ratingIcon" ng-show="trail.toggleFive" md-svg-src="images/svg/star.svg" aria-label="Five"></md-icon>
                            </md-button>
                        </div>
                    </md-card-actions>
                </div>
                <md-card-content layout="column" layout-align="space-between" flex="70" layout-padding ng-click="hc.viewTrailDetails(trail)"> 
                    <div flex layout="row" layout-align="start center">
                        <p layout-padding flex="60">{{trail.trail_description}}</p>
                        <div flex="40" class="md-media-xl card-media">
                            <img class="md-card-image listImg" ng-src="{{trail.photo}}" />
                        </div>
                    </div>
                    <md-chips flex="25" layout="row" layout-alig="end start">
                        <md-chip ng-show="trail.dog">dogs</md-chip>
                        <md-chip ng-show="trail.child">kids</md-chip>
                        <md-chip ng-show="trail.paved">paved</md-chip>
                        <md-chip ng-show="trail.water">water</md-chip>
                        <md-chip ng-show="trail.parking">parking available</md-chip>
                        <md-chip ng-show="trail.parking_free">free parking</md-chip>
                        <md-chip ng-show="trail.park_pass">park pass</md-chip>
                        <md-chip ng-show="trail.hiking">hiking</md-chip>
                        <md-chip ng-show="trail.skiing">skiing</md-chip>
                        <md-chip ng-show="trail.biking">biking</md-chip>
                        <md-chip ng-show="trail.horse">horseback</md-chip>
                        <md-chip ng-show="trail.atv">atv</md-chip>
                        <md-chip ng-show="trail.snowmobile">snowmobile</md-chip>
                    </md-chips>
                </md-card-content>
            </md-card>
        </md-content>
    </div>

</section>